<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>face detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body style="padding-top: 70px;">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Face Detector</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6">
          <div class="text-center">
            <canvas id="canvas" width="512" height="512" style="border: 1px lightgray solid;"></canvas>
          </div>
          <form id="url" class="form-inline pull-right">
            <div class="form-group">
              <input type="url" name="image_url" class="form-control" style="" placeholder="Image URL ...">
            </div>
            <button type="submit" class="btn btn-info">Load</button>
          </form>
        </div>
        <div class="col-xs-6 col-sm-4 well">
          <pre>
          </pre>
        </div>
      </div>
    </div>
  </body>
</html>
